/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1E1E1E;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #448aa1;
    color: #fff;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px; 
}

.navbar-left {
    flex: 1;
}

.navbar-center {
    flex: 2;
    text-align: center;
}

.search-bar {
    width: 100%;
    max-width: 400px;
    padding: 5px;
}

.navbar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #448aa1;
    color: #fff;
    padding: 5px 10px; 
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-left .nav-link {
    color: #fff; /* Fixes dashboard link color */
    text-decoration: none;
    font-size: 18px;
}

.navbar-left .nav-link:hover {
    text-decoration: underline;
}

/* Content */
.content {
    margin-top: 140px;
    padding: 20px;
    flex-grow: 1;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #448aa1;
    color: #fff;
    position: relative;
    width: 100%;
}
