
{% block content %}
<style>
    /* Inventory Navbar Styles */
    .nav-item a {
        color: #fff;
        text-decoration: none;
        padding: 1px;
        display: block;
    }

    .nav-item a:hover {
        background-color: var(--primary-color);
        color: #fff;
    }

    .nav-text {
        display: inline-block;
        margin-left: 10px;
    }

    .navbar-inventory {
        background-color: var(--primary-color);
        padding: 10px;
        border-radius: 5px;
    }

    .navbar-inventory .nav-item {
        margin-right: 10px;
        display: inline-block;
    }

    .navbar-inventory .nav-item a {
        color: #fff;
        font-weight: bold;
    }
</style>

<div class="navbar-inventory">
    <ul class="nav">
        <li class="nav-item">
            <a href="{% url 'sale_dashboard' %}" title="Dashboard">
                <i class="fas fa-tachometer-alt"></i>
                <span class="nav-text">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'make_sale' %}" title="POS">
                <i class="fas fa-cash-register"></i>
                <span class="nav-text">Make Sale</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'sales_list' %}" title="Sale_list">
                <i class="fas fa-shopping-cart"></i>
                <span class="nav-text">Sales_list</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'customer_list' %}" title="Customers">
                <i class="fas fa-users"></i>
                <span class="nav-text">Customers</span>
            </a>
        </li>

    </ul>
</div>

{% endblock %}
