{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Create New Order</h1>

    <form method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ order_form.product.label_tag }}
                {{ order_form.product }}
            </div>
            <div class="form-group col-md-3">
                {{ order_form.quantity.label_tag }}
                {{ order_form.quantity }}
            </div>
            <div class="form-group col-md-3">
                {{ order_form.buying_price.label_tag }}
                {{ order_form.buying_price }}
            </div>
        </div>

        <h3>Order Items</h3>
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.product.label_tag }}
                    {{ form.product }}
                </div>
                <div class="form-group col-md-3">
                    {{ form.quantity.label_tag }}
                    {{ form.quantity }}
                </div>
                <div class="form-group col-md-3">
                    {{ form.buying_price.label_tag }}
                    {{ form.buying_price }}
                </div>
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-success mt-3">Create Order</button>
        <a href="{% url 'product_list' %}" class="btn btn-secondary">Cancel</a>        
    </form>
</div>
{% endblock %}
