{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>
            <span class="d-flex align-items-center">
                Product Inventory
                <i class="fas fa-boxes" style="font-size: inherit; margin-left: 10px;"></i>
            </span>
        </h1>
        <a href="{% url 'add_product' %}" class="btn btn-primary">
            <i class="fas fa-plus"></i> New Product
        </a>
        <a href="{% url 'add_order' %}" class="btn btn-primary">
            <i class="fas fa-plus"></i> add order
        </a>
    </div>
</div>

<div class="container">
    <div class="row justify-content-left">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header text-white" style="background-color: #448aa1;">
                    Products in Stock
                </div>
                <div class="card-body">
                    <div class="row" id="productList">
                        {% for product in products %}
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <p class="card-text">
                                        <strong>Category:</strong> {{ product.category.name }}<br>
                                        <strong>Price:</strong> ${{ product.price }}<br>
                                        <strong>Stock:</strong> {{ product.stock }}
                                    </p>
                                    <a href="{% url 'product_detail' product.id %}" class="btn btn-info">
                                        <i class="fas fa-info-circle"></i> Details
                                    </a>
                                    <a href="{% url 'edit_product' product.id %}" class="btn btn-warning">
                                        <i class="fas fa-edit"></i> Edit
                                    </a>
                                    <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">
                                        <i class="fas fa-trash"></i> Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
